body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: royalblue;
}

.header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
}

.navbar{
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.container{
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex: 1;
    justify-content: space-between;

}

img{
    width: 150px;
    height: 200px;
}



.image-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex: 1;
    background-color: white;
}

.image-description img{
    max-width: 100%;
    height: auto;
}

.info-images{
    display: flex;
    
    
}

.image-description p{
    width: 100px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    padding: 100px;
}